@using ChildCentre.Slynchogled.Web.Models.Accounts.Parents;
@model List<ParentGridModel>

<div class="container mt-5">
    <div class="card mt-4">
        <div class="p-3 d-flex align-items-center">
            <h5 class="centre-violet-color">Родители</h5>
            <button id="new-parent-btn" type="button" class="btn btn-primary centre-yellow-color mx-4" data-bs-toggle="modal" data-bs-target="#account-grid-modal">
                Нов родител
            </button>
        </div>
        <table class="table table-striped mb-0">
            <thead class="cent">
                <tr>
                    <th scope="col">Име</th>
                    <th scope="col">Телефон</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ParentGridModel parent in Model)
                {
                    <tr data-id="@parent.Id">
                        <td>
                            @parent.Name
                        </td>

                        <td>
                            @parent.Phone
                        </td>

                        <td>
                            <button id="edit-parent-btn" type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#account-grid-modal">
                                Редактиране
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>